#description {
	font-weight: 700;
	font-size: 12pt;
    margin-bottom: 20px;
    padding-bottom: 10px;
}

#article-section {
	padding-bottom: 20px;
}

#comment-section {
    margin-top: 20px;	
}

@media screen and (max-width: 625px) {
    #description {
        font-size: 14pt;
    }
}
