<div id="header">
    <div id="site_title" class="unselectable">
      <a href="#" class="unselectable">Technology Blog</a>
    </div>
<!--    <c:if test="${heloPageModel.numberOfUnreadMessages != 0}">
      <c:url value="${heloPageModel.listPrivateMessagesUrl}" var="listPrivateMessagesUrl"/>
      <a href="${listPrivateMessagesUrl}" title="Unread messages">
          <span class="unread-mail">
            <c:url value="/resources/images/message.jpg" var="mailUrl"/>
            <img src="${mailUrl}" />
            <span class="number-of-unread-mail">${heloPageModel.numberOfUnreadMessages}</span>
          </span>
      </a>
    </c:if>
  -->
    <div id="header_right">
      <div id="newsletter_box">
            <app-login-form *ngIf="authenticationStore.isLoggedOut()"></app-login-form>
            <div *ngIf="authenticationStore.isLoggedIn()">
                    Logged in
<!--                    <div>
                      <c:url value="/user/profile/edit" var="profileUrl" />
                      <a href="${profileUrl}">Edit profile</a>
                    </div>
                    <div>
                      <c:url value="/user/profile/change-password" var="changePasswordUrl" />
                      <a href="${changePasswordUrl}">Change password</a>
                    </div>
                    <div>
                      <c:url var="logoutUrl" value="/logout" />
                      <a href="${logoutUrl}">Log out</a>
                    </div> -->
            </div>
      </div>
    </div>
    <div class="cleaner"></div>
    <div id="menu_wrapper">
      <div id="menu">
        <app-menu></app-menu>
      </div>
    </div>
   <!-- <tiles:insertAttribute name="message"></tiles:insertAttribute> -->
  </div>